#wrapper{
    /* width: 1140px; */
    background-color: #eee;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid black;

}
#header{
    /* background-color: red; */
    /* color: #fff; */
    margin-top: 0px;
    border: 1px solid black;
    

}
#header h1{
    /* font-size: 14px; */
    padding: 10px 0px 10px 5px;
}
.abc{
    color: yellow;
}
.xyz{
    background-color: green;
    color: yellow;
}
#menu ul{
    background-color: #4fb1c4;
    margin-top: 0px;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    list-style: none;
    /* text-decoration: none; */
}
#menu ul a{
    text-decoration: none;
}
#content h2{
    padding: 0px 0px 0 15px;
}
.content-and-sidbar{
    display: flex;
    justify-content: space-between;
    /* padding: 0px 10px 0px 10px; */
}
#content .content-image{
    /* display: flex; */
    width: 200px;
    float: inline-start;
    padding: 0px 10px 0 10px;
}
.content-and-sidbar #sidbar{
    border-left: 3px solid #747171;
}
.content-and-sidbar #sidbar{
    background-color: #b59ee3;
    padding: 0px 10px 0  0;
}
.content-and-sidbar #sidbar a{
    text-decoration: none;
}
.content-and-sidbar #sidbar a:hover{
    color: #7d2929;
}
#footer{
    background-color: orangered;
    text-align: end;
    color: #fff;
    padding: 10px;
}